body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
html {
  font-size: 62.5%;
} */

a {
  list-style-type: none;
}
#nav {
  color: black;
}

.nav-item .profile-menu {
  min-width: 8.5rem !important;
}

#navbar__links {
  display: flex;
  justify-content: start;
  align-items: center;
}

nav {
  background-color: black;
  position: relative;
}

ul,
li .nav-link {
  color: white;
}

ul,
li .nav-link:hover {
  color: white;
}

nav .navbar-brand {
  color: white;
  margin: 0 !important;
}
nav .navbar-brand:hover {
  color: white;
}

#navbar {
  width: 100%;
  position: relative;
  padding-left: 15%;
}

/* Leftnavbar */

.left-navbar {
  background-color: #2460b9;
  width: 15%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#left-navbar .nav_logo-icon {
  color: white;
}

#left-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#left-navbar #content #left-ul {
  width: 15%;
}

.nav__items {
  margin-bottom: 15px;
  height: 40px;
  width: 15%;
}

#content .left-ul {
  display: flex;
  flex-direction: column;
}

#content ul li a {
  display: flex;
  align-items: center;
}
#left-header {
  margin: 10px;
}

ul li .left-icons {
  margin-right: 5px;
}

.fa-greater-than {
  margin: 15px;
}
/* 
#section-content {
  background-color: white;
  height: 500px;
  padding-left: 15%;
}
.section-image {
  height: 200px;
  width: 300px;
  z-index: 999;
} */

#left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-less-than {
  color: white;
  cursor: pointer;
  margin: 0 !important;
}

.fa-greater-than {
  color: white;
  cursor: pointer;
  display: none;
}

.transistion-class {
  transition: padding-left 0.4s ease;
}

.transistion-width {
  transition: width 0.3s ease;
}

#sign-out {
  margin-top: 20px;
}

.dropdown .dropdown-leftbar {
  position: relative;
  z-index: 0 !important;
  border: none;
  outline: none;
  height: 5rem;
  width: 10rem;
  background-color: #047ab6;

  margin-left: 1rem;
}

.dropdown-menu .dropdown-items {
  padding-left: 50px;
  color: white;
}

.dropdown-toggle {
  color: white !important;
}

.top-icons {
  display: none;
}

/* Responsiveness for laptops */

@media screen and (max-width: 1160px) {
  .nav__items {
    margin-bottom: 5px;
  }

  #left-header {
    font-size: 0.9rem;
  }

  #navbar-brands {
    font-size: 1.1rem;
  }

  #left-content {
    justify-content: center;
  }

  .left-ul {
    font-size: 0.9rem;
  }

  #left-content {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    /* align-items: flex-end; */
  }
}

@media screen and (max-width: 1032px) and (min-width: 821px) {
  #left-header {
    margin: 10px 3px;
    gap: 2px;
    font-size: 0.8rem;
  }
  #left-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
  }

  .nav__items {
    padding-left: 25px;
  }

  #navbar-brands {
    font-size: 1rem;
  }

  #content {
    display: flex;
    justify-content: center;
    margin-left: 0;
    padding: 0;
    width: 190%;
  }
}

/* @media screen and (max-width: 768px) {
  span.nav-name {
    display: none !important;
  }

  #less-then {
    display: none;
  }

  #navbar-brands {
    font-size: 0.9rem;
  }

  #navbar-brandss {
    font-size: 0.9rem;
  }

  #left-header {
    justify-content: space-around;
    gap: 2px;

    font-size: 0.9rem;
    padding-top: 4px;

    margin: 10px 1px;
  }

  ul li a span.topNav-name {
    font-size: 0.9rem;
  }
} */

@media screen and (max-width: 820px) {
  #navbar-brands {
    display: none;
  }

  #navbar {
    padding-left: 5rem;
  }
  span.nav-name {
    display: none !important;
  }

  #less-then {
    display: none;
  }

  #left-navbar {
    width: 68px;
  }

  #left-header {
    margin-top: 13px;
    justify-content: center;
    font-size: 1.8rem;
    margin: 10px 0;
    padding-right: 7px;
  }
}

@media screen and (max-width: 600px) {
  #left-navbar {
    z-index: 999;
    width: 100%;
    left: -600px;
    top: 64px;
    transition: 0.6s ease;
  }

  #navbar {
    padding: 0;
    height: 4rem;
  }

  span.nav-name {
    display: block !important;
  }

  .nav_logo-icon {
    display: none;
  }

  .top-icons {
    display: block;
  }

  .topNav-name {
    display: none;
  }

  .nav .dropdown .topNavBar {
    display: flex;
  }

  #toggle-button {
    font-size: 2rem;
    color: white;
  }

  #cross-btn {
    font-size: 2rem;
    color: white;
    display: none;
  }

  #navbar__links {
    gap: 5px;
  }

  #navbar-brandss {
    font-size: 1.5rem;
    margin-left: 13px;
  }

  #nav-link1 {
    padding-left: 27px;
    padding-right: 0;
  }
}
