body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
}

#navbar {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.3s;
  padding-left: 5%;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#top-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 3px;
  position: relative;
}

#left-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.7rem;
  width: 15%;
  height: 100vh;
  background-color: #6e48aa;
  /* border: 1px solid #333333; */
  position: relative;
  margin: 0;
  bottom: 60px;
  transition: 0.3s;
  z-index: 500;

  /* color: #62498b; */
}

.topbar-content {
  display: flex;
}

#content {
  display: flex;
  /* border: 1px solid white; */
  height: auto;
  width: 100%;
}

#navbar-brands {
  color: white;
  /* display: none; */
}
#navbar-brand {
  color: white;
}

#left-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 1rem;
  width: 100%;
}

.nav_logo-icon {
  font-size: 1.7rem;
}

.left-ul {
  display: flex;
  flex-direction: column;
}

.left-ul li a {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  margin: 0.5rem 0;
}

.nav__items {
  height: 40px;
  padding-left: 1.5rem;
}

#sign-out {
  width: 100%;
  /* display: flex; */
}

#sign-out ul li a {
  display: flex;
  gap: 1.7rem;
}

#arrow {
  background-color: #6e48aa;
  padding: 18px 8px;
  /* border-bottom-right-radius: 25px;
  border-top-right-radius: 25px; */

  border-top-right-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;

  color: white;
  height: 60px;
}

.fa-less-than {
  color: white;
  cursor: pointer;
}

.fa-greater-than {
  color: white;
  cursor: pointer;
  display: none;
}

ul li .left-icons {
  font-size: 1.3rem;
  width: 24px;
  padding-left: 5px;
}

#left-navbar .nav_logo-icon {
  color: white;
}

ul,
li .nav-link {
  color: white;
}

ul,
li .nav-link:hover {
  color: white;
}

nav .navbar-brand {
  color: white;
}

#navbar-brands {
  font-size: 1.3rem;
  font-weight: 488;
}

#left-content .nav__items.hidden {
  visibility: hidden;
}
*/ .transistion-class {
  transition: 0.3s;
}

.transistion-width {
  transition: 0.3s;
}

#section-content {
  /* background-color: yellow; */
  position: absolute;
  top: 60px;
  left: 0;
  margin: 0;
  height: 100vh;
  transition: 0.3s;
  /* overflow-y: hidden; */

  width: 100%;

  padding-left: 5%;
}

.section-contents {
  background-color: white;

  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 999;
}

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  position: relative;
  top: 0;
  left: 0;
  transition: right 0.3s ease;
  background-color: #333333 !important;
  z-index: 800;
  transition: 0.3s;
}

#top {
  width: 100%;
  background-color: #333333;
  width: 100%;
}

#line-break {
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
  height: 1px;
}

.dropdown .dropdown-leftbar {
  position: relative !important;
  z-index: 0 !important;
  border: none;
  outline: none;
  height: 6.5rem;
  width: 10rem;
  left: 27px !important;
  top: -50px !important;

  /* margin-left: 1rem; */

  border-radius: 2pxpx;
  background: #7087c9;
  box-shadow: 20px 20px 48px #424678, -20px -20px 48px #5a5ea2;
}

.dropdown-menu .dropdown-items {
  padding-left: 50px;
  color: white;
}

.dropdown-toggle {
  color: white !important;
}
