body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
}

#navbar {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.3s;
  padding-left: 15%;
}

#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#top-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 3px;
  position: relative;
}

#left-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 100vh;
  background-color: blue;
  /* border: 1px solid black; */
  position: relative;
  margin: 0;
  bottom: 60px;
  transition: 0.3s;
  z-index: 500;
}

.topbar-content {
  display: flex;
}

#content {
  display: flex;
  /* border: 1px solid white; */
  height: auto;
  width: 100%;
}

#navbar-brands {
  color: white;
  /* display: none; */
}
#navbar-brand {
  color: white;
}

#left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav_logo-icon {
  font-size: 2rem;
}

.left-ul {
  display: flex;
  flex-direction: column;
}

.left-ul li a {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav__items {
  height: 40px;
  padding-left: 1.5rem;
}

#sign-out ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding-right: 0;
}

#arrow {
  background-color: blue;
  padding: 18px 8px;
  /* border-bottom-right-radius: 25px;
  border-top-right-radius: 25px; */

  border-top-right-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;

  color: white;
  height: 60px;
}

.fa-less-than {
  color: white;
  cursor: pointer;
}

.fa-greater-than {
  color: white;
  cursor: pointer;
  display: none;
}

ul li .left-icons {
  font-size: 1.3rem;
  width: 24px;
}

#left-navbar .nav_logo-icon {
  color: white;
}

ul,
li .nav-link {
  color: white;
}

ul,
li .nav-link:hover {
  color: white;
}

nav .navbar-brand {
  color: white;
}

#left-content .nav__items.hidden {
  visibility: hidden;
}
*/ .transistion-class {
  transition: 0.3s;
}

.transistion-width {
  transition: 0.3s;
}

#section-content {
  /* background-color: yellow; */
  position: absolute;
  top: 60px;
  left: 0;
  margin: 0;
  height: 100vh;
  transition: 0.3s;
  /* overflow-y: hidden; */

  width: 100%;

  padding-left: 15%;
}

.section-contents {
  background-color: white;

  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 999;
}

/* .topbar-contnet {
  position: relative;
  top: 0;
  right: 0;
} */

.first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
  transition: right 0.3s ease;
  background-color: black !important;
  z-index: 800;
  transition: 0.3s;
}

#top {
  width: 100%;
  background-color: black;
  width: 100%;
}
